<div class="container">
  <div class="row justify-content-center">
    <div class="share-form">
      <%= simple_form_for @shared_trip, :url => share_create_trip_path, :method => :post do |f| %>
        <%= f.input :user,:collection => @users,:label_method => :username,:value_method => :id,:label => "User" ,:include_blank => false %>
        <%= f.submit "Share the trip !", class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</div>
