
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Hey <%= @current_user.name %></h1>
    <br>
    <h2> Let's prepare your trip to <%= Country.find(@trip.country_id).name %> </h2>
  </div>
</div>

<!-- HTML de base pour le bloc des trip-item-cards et todo-cards -->

<div>
 <div class="container">
   <div class="text-align-left">
     <h1>Preparation Overview</h1>
   </div>

   <div class="trip-show-flexbox">
     <div>
       <i class="fas fa-suitcase"></i>
     </div>

     <div class="trip-list">
       <div>
         <h2>Trip items</h2>
         <div class="item">
          <ul><% @tasks.each do |t| %>
            <li> t.name
            </li>
          </ul>
          <% end %>
          <p>trip item</p>
         </div>
       </div>

       <div>
         <h2>To Do List</h2>
         <div class="item">
           <p>todo item</p>
         </div>
       </div>
     </div>

   </div>
 </div>
</div>
