// Define variables for your color scheme

// For example:
$red: #fe5f55;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$my-blue: #064acb;
$my-light-blue: #366ed8;
$my-yellow: #f3a953;
$my-grey: #f2f3f3;

.green {
  color: green;
}

.red {
  color: red;
}
