<%= simple_form_for trip, :url => share_create_trip_path, :method => :post, remote: true, id: "share-trip-form" do |f| %>
  <div class="modal-body">
    <%= f.input :user,:label_method => :email,:value_method => :id,:label => "Friend's e-mail" ,:include_blank => false, placeholder: "bob@gmail.com" %>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit "Share my trip !", class: "btn btn-warning" %>
  </div>
<% end %>
