<!-- form for trip creation -->
<div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= image_path 'dubrovnik.jpg' %>);">
  <div class="container">
    <div class="d-flex justify-content-center subcont align-items-center ">
      <div id="toucan" style="background-image: url(<%= asset_path 'toucan-zoom.png' %>); display: none;">
        <div id="spinner"></div>
      </div>
      <div class="home-title">
        <div class="mb-5 text-align-center">
          <h1 id="home-title">Adventure begins in your suitcase</h1>
          <h4 id="last-title">Let us help you prepare your suitcase and arrival in your future destination</h3>
        </div>
        <%= render "shared/new_trip_form" %>
      </div>
    </div>
  </div>
</div>
