<!-- HTML de base pour le bloc des trip-item-cards et todo-cards -->

<div>
  <div class="container">
    <div class="text-align-center">
      <h1>trip-items and todos cards</h1>
    </div>

    <div class="trip-show-flexbox">
      <div class="icon">
        <i class="fas fa-suitcase"></i>
      </div>

      <div class="trip-list">
        <div>
          <h2>Trip items</h2>
          <div class="item">
            <p>trip item</p>
          </div>
          <div class="item">
            <p>trip item</p>
          </div>
        </div>

        <div>
          <h2>To Do List</h2>
          <div class="item">
            <p>todo item</p>
          </div>
          <div class="item">
            <p>todo item</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>








<!-- HTML de base pour les trip-cards du trip dashboard -->
<div>
  <div class="container">
    <div class="text-align-center">
      <h1>trip-cards</h1>
    </div>

    <div class="card-trip-flexbox">
      <div class="card-trip" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <h2>My trip to Bali!</h2>
        <p>12-09-2018 to 24-09-2018</p>
      </div>

      <div class="card-trip" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <h2>My trip to Kuala Lumpur!</h2>
        <p>12-09-2018 to 24-09-2018</p>
      </div>

      <div class="card-trip" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <h2>My trip to Nassau!</h2>
        <p>12-09-2018 to 24-09-2018</p>
      </div>

      <div class="card-trip" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <h2>My trip to St-Petersburg!</h2>
        <p>12-09-2018 to 24-09-2018</p>
      </div>
    </div>
  </div>
</div>
