.trip-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.trip-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: regular;
}

.trip-banner h2 {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.dashboard-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.dashboard-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.dashboard-banner h2 {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.skrumble-banner {
  color: #F6AB3E;
}
