.card-trip {
  position: relative;
  margin-top: 16px;
  &:hover {
    cursor: pointer;
  }
}

.card-trip-image {
  height: 200px;
  width:270px;
  margin-bottom: 5px;
  background-size: cover;
  background-position: center;
  color: $my-grey;
  position: relative;
  display:flex;
  align-items: flex-end;
  border-radius: 2px;
  p {
    margin-bottom: 3px;
    margin-left: 6px;
  }
}

.label-ready {
  font-weight:400;
  position:absolute;
  top: 15px;
  right: 0px;
  padding: 5px 5px 5px 17px;
  background-color: #54A144;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.label-done {
  font-weight:400;
  position:absolute;
  top: 15px;
  right: 0px;
  padding: 5px 5px 5px 17px;
  background-color: #C06FBC;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.label-not-ready {
  font-weight:400;
  position:absolute;
  top: 15px;
  right: 0px;
  padding: 5px 5px 5px 17px;
  background-color: #FF4E4E;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.card-trip-text {
  p {
    font-size: 16px;
    margin-left: 6px;
    margin-bottom: 0px;
  }
}


.trips-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;

  align-self : center;
  justify-self: center;
  justify-items: center;
  margin-bottom: 30px;
}
