//pull
.bg-1{
  background-color: #dfceff!important;
}
//short
.bg-2{
  background-color: #d5ffc6!important;
}
// socks
.bg-3{
  background-color: #ffdbea!important;
}
//t-shirt
.bg-4{
  background-color:#d3f3ff!important;
}
//underware
.bg-5{
  background-color:#fff2d3!important;
}
//toiletbag
.bg-6{
  background-color:#e7d3ff!important;
}
