//pull
.bg-1{
  background-color: #F8F4FF!important;
}
//short
.bg-2{
  background-color: #EEFFE8!important;
}
// socks
.bg-3{
  background-color: #FFEEF4!important;
}
//t-shirt
.bg-4{
  background-color:#EFFAFE!important;
}
//underware
.bg-5{
  background-color:#FEF9EC!important;
}
//toiletbag
.bg-6{
  background-color:#F5EEFD!important;
}
