.image {
  background-size: cover;
}

.calendar{
  width: 500px;
  color: $light-gray;
}
.subcont {
  height: 100vh;
}
.box {
  background-color:#CED4DA;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.6);
}

.full-page {
  height: 100vh;
}

.form-sign-up {
  width: 500px;
  color: $light-gray;
}
.destinationBox{
  height:35px;
  width:200px;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.6);
  border: 1px solid #CED4DA;
  background-color:#E9ECEF;
  color: black;
  padding-left: 10px;
}
