.new-trip-form {
  display: flex;
  justify-content: space-between;
  flex: none;
  width: 100%;
  color: $light-gray;
}

.datepicker {
  width: 160px;
  background-color:#CED4DA;
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.2);
  margin-right: 15px;
}
.pusher{
  width: 30px;
}

.vacuum{
 margin-left:-87px;
}
.datepicker2 {
  width: 190px;
  background-color:#CED4DA;
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0px 10px;
}

.destination-box {
  width: 400px;
  background-color:#CED4DA;
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.2);
}

.image {
  background-size: cover;
   z-index: 2;
}
.subcont {
  height: 100vh;
  flex-direction: column;
}

.box {
}

.full-page {
  height: 100vh;
}

.form-sign-up {
  width: 500px;
  color: $light-gray;
}


.select2-selection__arrow {
  top: 6px !important;
}

.select2-selection__placeholder {
  color: #495057 !important;
  opacity: 0.8;
}


.cal-button {
  height: 38px;
  font-size: 14px;
  margin-left: 20px;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    height: 38px;
}
.select2-selection {
 margin-left:-40px !important;
}
#trip_end_date{
margin-right:57px;
}
.select2 {
  margin-left: 0 auto!important;
  height: 38px !important;
  width: 150px !important;
  padding: 0px 0px !important;
  background-color: #E9ECEF !important;
  // box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.6)!important;
  color: black!important;
  border:none!important;
  border-radius: 10px;
  margin-right:20px!important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 10px!important;
    padding-right: 20px;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    /* height: 38px!important; */
    align-items: center!important;
}
.select2-container .select2-selection--single {
    box-sizing: border-box!important;
    cursor: pointer!important;
    display: block!important;
    height: 38px!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    -webkit-user-select: none!important;
    /* align-items: center; */
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 35px !important;
    background-color: #E9ECEF !important;
}
