.nav-lewagon {
  justify-content: space-between;
  position:absolute!important;
  width:100%!important;
}

#logo {
  display: flex;
  justify-content: space-around;
}
.navbar-light .navbar-nav .nav-link {
    color: lightgrey;
    font-size: 15px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: lightgrey;
    font-size: 15px;
}

.coll{
  position:absolute!important;
  right: 10px!important;
}


.nav-lewagon .nav-collapse {
  flex-grow: 0;
}

.nav-lewagon .nav-brand img {
  width: 40px;
}

.nav-light .nav-nav .nav-link {
    color: $my-light-blue;
    font-size: 15px;
}
.bout{
  margin-left: 20px;
  color: white;
  background-color: #FFAD40; /* Green */
  border: none;
  height: 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
.bout:hover{
  margin-left: 20px;
  color: white;
  background-color: #eda13d;
   /* Green */
  border: none;
  height: 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.bout2 {
  color: white;
  background-color: #FFAD40; /* Green */
  border: none;
  height: 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
.bout2:hover {
  color: white;
  background-color: #eda13d;
   /* Green */
  border: none;
  height: 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
