.navbar-lewagon {
  justify-content: space-between;
  background: $white;
}

#logo {
  display: flex;
  justify-content: space-around;
}

a {
  color: white;
  font-family: "Raleway";
  font-style: bold;
  font-size: 20px;
}
a:hover{
  color: white;
}

.nav-link-logo {
  color: $my-light-blue;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
    color: $my-light-blue;
    font-size: 15px;
}
